name: CI

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Deploy to server
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: 192.144.154.17
        username: root
        port: 52631
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        script: |
          set -e
          cd /www/wwwroot/August
          ./scripts/deploy.sh
